name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: npm i -g --force corepack@latest && corepack enable
      - name: Install dependencies
        run: npx nypm@latest i
      - name: Lint
        run: npm run lint

  test-unit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: npm i -g --force corepack@latest && corepack enable
      - name: Install dependencies
        run: npx nypm@latest i
      - name: Playground prepare
        run: npm run dev:prepare
      - name: Run unit tests
        run: npm run test:unit

  test-types:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: npm i -g --force corepack@latest && corepack enable
      - name: Install dependencies
        run: npx nypm@latest i
      - name: Run type checks
        run: npm run test:types